@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  font-weight: bold;
}



  .TodoElCuadrado {
    margin: 70px;
    padding-right: 70px;
    margin-top: -200px;
    margin-bottom: 0;

}
  
.mb-4, .col-lg-12{
  margin-bottom: 12px!important;
}
p{
  margin-bottom: 15px!important;
  margin-top: 5px!important;
}
  
.card {  /* es re lindo, por dios y la santisima virgen María, madre de Dios nadie toque esto*/
padding-top: 20px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
box-shadow: 0 19px 38px #0000004d, 0 15px 12px #00000038;
border: 3px solid;
border-radius: 28px; 
width: auto;


}
.texto{

  font-size: 4.5rem;
  margin-left: 90px;
  margin-top: 90px;
  

}
img{  /* logo emmployme, tamaño */
  padding: 10px;
  width: 50%;
  display: flex;
  justify-content: center;

}
body{
  
  background: #333;
}
.wrapper{
  display: flex;
  flex-direction: column;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  font-weight: bold;

}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: rgb(0, 144, 255);
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #333;
  border-left: 2px solid rgb(0, 144, 255);
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
