@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');
.searchbar {

    border-radius: 45px;
    background-color: #ECEEFF;
     
}
.header img{
    height: 75px;
}
.float-right{
    margin-top: -45px;
    padding-right: 240px;
    
}