* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  /* Nuevo que centra pero no taAAN BIEN*/
  display : flex ;
  flex-direction : column ;
  justify-content : center ;
  align-items : center ;
  font-weight: bold;

}



.TodoElCuadrado {
  margin-left: 0px;
  margin-right: 0px;
  padding: 50px;
  

 

}
.card {  /* es re lindo, por dios y la santisima virgen María, madre de Dios nadie toque esto*/
padding-top: 20px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
box-shadow: 0 19px 38px #0000004d, 0 15px 12px #00000038;
border: 3px solid;
border-radius: 28px; 
width: auto;


}

.img-top{
  width: 100%;
  
}
img{
  padding: 10px;
}

