@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.container{

    max-width: 780px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;

}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{

    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}

.container form .user-details{
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
} 

form .user-details .input-box{

    width: calc( 100% / 2 - 20px)
}

